# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

*.o
*.a
*.so
deps/
local/

# Generated protobuf sources
messages.pb-c.c
messages.pb-c.h

# Executables
mbedtls-client
mbedtls-ssl-server
openssl-client
wolfssl-client
wolfssl-ssl-server
sgxlkl-wolfssl-ssl-server
wolfssl-ssl-server-mutual
wolfssl-client-mutual

# Graphene-SGX
*.sig
*.token
*.manifest.sgx

# OSX stuff
._*
.DS_Store
